<div class="whole">

	<h1>FAQ's</h1>

	<p><strong><span style="text-decoration: underline;">Is it legal to book an escort?</span></strong><br />
	Yes. Money exchanged is for time and companionship only, which is a legal contractual arrangement. Any sexual activities that may take place as a result of or following an introduction made by <strong>Pearls Girls Escorts</strong> are between consenting adults and of the free will of the parties concerned.</p>
	<p><strong><span style="text-decoration: underline;">What are your opening hours?</span></strong><br />
	We are currently open from <strong>6pm</strong><b> </b><strong>to</strong> <strong>6am, 7 days a week.</strong></p>
	<p><strong><span style="text-decoration: underline;">Can I visit a Pearls Girl at their apartment/flat?</span></strong><br />
	We currently provide an ‘outcall service’ only.</p>
	<p><strong><span style="text-decoration: underline;">What is an ‘outcall service’?</span></strong><br />
	An ‘outcall service’ means your chosen Pearls Girl will visit you at your home or a location of your choice, such as a room in a shared property, a flat, apartment, house, hotel, airport hotel, or office/place of work.</p>
	<p><strong><span style="text-decoration: underline;">Can I talk to my chosen Pearls Girl before confirming a booking?</span></strong><br />
	Yes. If you wish, your chosen Pearls Girl can call you before you confirm your booking. This gives you the opportunity to speak with her and make sure you are happy with your selection before going ahead.</p>
	<p><strong><span style="text-decoration: underline;">If I change my mind, will I be charged a cancellation fee?</span></strong><br />
	We do not charge a cancellation fee unless your Pearls Girl is over half way to you, in which case we respectfully request that you cover reasonable costs she has incurred in travel expenses.</p>
	<p><strong><span style="text-decoration: underline;">Can I make any special requests?</span></strong><br />
	Yes. You may speak with one of our friendly and helpful receptionists or, if the request is of a particularly personal nature, you may speak with your chosen Pearls Girl directly before confirming a booking.</p>
	<p><strong><span style="text-decoration: underline;">How long will it take for my Pearls Girl to arrive?</span></strong><br />
	Once you have confirmed your booking, your Pearls Girl will aim to be with you <strong>within 45 minutes</strong>.</p>
	<p><strong><span style="text-decoration: underline;">What payment methods do you accept?</span></strong><br />
	We currently accept payments in cash only.</p>
	<p><strong><span style="text-decoration: underline;">Can I pay using foreign currency?</span></strong><br />
	We currently accept Pounds Sterling, US Dollars, and Euros only – please inform us when you make a booking which currency you wish to pay in.</p>
	<p><strong><span style="text-decoration: underline;">What is the age range of your Pearls Girl?</span></strong><br />
	The age of each of our Pearls Girl is displayed on their individual profile. All of the Pearls Girls have provided us with proof that they are 18 years old or over.</p>
	<p><strong><span style="text-decoration: underline;">Are the photographs on the Pearls Girls’ profiles genuine?</span></strong><br />
	Yes. All of our Pearls Girls have their photographs taken by our own professional photographer, so you can be guaranteed that they are recent and 100% genuine – what you see is what you get!</p>
	<p><strong><span style="text-decoration: underline;">Can I make advance bookings?</span></strong><br />
	Yes. You can make a booking for any time between <strong>6pm and 6am</strong> or email us at <a href="mailto:contact@pearlsgirlsescorts.com" target="_blank">contact@pearlsgirlsescorts.com</a> with any Pearls Girl you like, as long as they are available. We will then call you on that date to confirm the booking.</p>
	<p><strong><span style="text-decoration: underline;">Can I book more than one Pearls Girls at a time?</span></strong><br />
	Of course, Many of our Pearls Girls are bisexual and very happy to work together, and there is no limit to how many Pearls Girls you can book at the same time, as long as they are available.</p>
	<p><strong><span style="text-decoration: underline;">I am female – can I book a bisexual Pearls Girls to visit me?</span></strong><br />
	With pleasure, many of our Pearls Girls are bisexual and we have many existing female clients.</p>
	<p><strong><span style="text-decoration: underline;">Can I take photos of or film my Pearls Girl?</span></strong><br />
	Please call us to discuss your requirements.</p>
	<p><strong><span style="text-decoration: underline;">There are two of us. Can we book one Pearls Girl to visit both of us at the same time?</span></strong><br />
	It states on the individual profile of each Pearls Girl if they are happy to entertain two clients at the same time. Please call us to discuss your requirements.</p>
	<p><strong><span style="text-decoration: underline;">There is a group of us. Can we book one or more Pearls Girls to visit all of us at the same time?</span></strong><br />
	It states on the individual profile of each Pearls Girl if they are happy to entertain groups. Please call us on to discuss your requirements.</p>

</div>