<div class="whole">
	<h1>How to Book</h1>

	<p>The service we operate is very straightforward and you are under <strong>no</strong> obligation at any time to make a booking.</p>
	<p>Just call either of our telephone numbers and one of our friendly and helpful receptionists will immediately put you at ease and guide you through the simple booking process.</p>
	<p>The price you pay is quoted to you and agreed with you when your booking is made – see the <a title="Prices" href="http://www.pearlsgirlsescorts.com/prices/" target="_blank">Prices</a> section for more information.</p>
	<p>Your Pearls Girl will then call you directly to confirm your booking.</p>
	<p>Once you have confirmed your booking, your Pearls Girl will aim to be with you <strong>within 1 hour</strong>.</p>
	<p>Your Pearls Girl will ask for payment at the start of each booking so you can then relax and enjoy your time with her.</p>
	<p>If you wish to make a booking for a pre-arranged time and date, you can email us any time at <a href="mailto:contact@pearlsgirlsescorts.com" target="_blank">contact@pearlsgirlsescorts.<wbr />com</a>.</p>
	<p>Our<strong> LINES are OPEN </strong>from <strong>6pm to</strong><wbr /> <strong>6am, 7 days a week – CALL NOW!</strong></p>
	<p>Please note that it is the policy of Pearls Girls Escorts not to accept calls from withheld numbers and/or ‘Private Numbers’ and not to respond to text messages.</p>
</div>