<div class="whole">
	<h1>Prices</h1>

	<p>1 hour from <strong>only</strong> <strong>£110 to £150!</strong></p>
	<p>The price you pay is quoted to you and agreed with you when your booking is made.</p>
	<p>All of Pearls Girls London Escorts charge the same hourly rate as each other – the price may only vary depending on your location.</p>
	<p>This is an all-inclusive price for the length of your booking, including the travelling expenses of your chosen Pearls Girls London Escort. Outcall escort service throughout London and the home counties. If you are not sure if Pearls Girls Escorts premier outcall escort service covers your area, CALL NOW!</p>
	<p>We accept payments in cash (Pounds Sterling, US Dollars, or Euros) only - please inform us when you make a booking which currency you wish to pay in.</p>
	<p><b id="internal-source-marker_0.7163764617871493">Discounts are available for additional hours, longer bookings, such as dinner dates or overnight stays, and regular clients. There are also special rates for couples and groups, Please CALL NOW for details!</b></p>
	<p><em>Please note that we do not charge a cancellation fee unless your </em><i>Pearls Girl</i><em> is over half way to you, in which case we respectfully request that you cover reasonable costs she has incurred in travel expenses.</em></p>
</div>