<div class="whole">
	<h1>The Pearl's Girls Promise</h2>

	At Pearls Girls Escorts, outcall escorts we pride ourselves in providing a professional, personal, discreet and unhurried luxury visiting escort service to discerning clients in London and the Home Counties and take great pleasure in being able to offer the following:
	<ul type="disc">
	<li>A full escort service, including an authentic ‘girlfriend experience’</li>
	<li>Complete discretion and confidentiality</li>
	<li>A simple and easy booking procedure – see the <a title="How To Book" href="/how_to_book/" target="_blank">How To Book</a> section for more information</li>
	<li>Excellent customer service</li>
	<li><b>Reliability</b>, <b>honest</b>y and <b>integrity</b></li>
	<li>Great <b>value for money</b> – <strong>1 hour</strong> from <strong>only £110!</strong></li>
	<li>All of our Pearls Girls have been <b>personally interviewed</b> and <b>specially selected</b> to work for <strong>Pearls Girls Escorts</strong>- we only work with escorts who want to works as escorts and who <b>enjoy working as escorts </b>to ensure a night to remember</li>
	<li><b>Exclusiveness</b> – you will not be able to book any of our Pearls Girls through any other escort agency and you will not find them on any other website</li>
	<li>All of our <b>Pearls Girls</b> photographs are <b>recent and 100% genuine</b> – what you see is what you get</li>
	<li>Depending on your requirements and their availability, your chosen Pearls Girl will aim to be with you <strong>within 1 hour</strong> of your call</li>
	<li>We are the exception to the rule when it comes to escort agency in London, we are more than happy to go the extra mile just for our clients; find the right hotel, clubs and other go to places in the capital, our strong relationships with London&#8217;s most prestigious nightclubs could ensure you and your Pearls Girl/Girls a fantastic hassle free night on the tiles.</li>
	</ul>
</div>