<div class="whole">

	<h1>Becoming a Pearls Girl</h1>
	<p><strong>What we require:</strong></p>
	<ul type="disc">
	<li>female</li>
	<li>18+</li>
	<li>attractive with a good body</li>
	<li>up to a dress size 12</li>
	<li>bubbly</li>
	<li>nice smile</li>
	<li>well groomed &amp; well dressed</li>
	<li>good English</li>
	<li>confident</li>
	<li>reliable</li>
	<li>flexible</li>
	<li>any nationality</li>
	<li>eligible to work in the UK</li>
	<li>be aware and understand that you will be self-employed and responsible for paying your own Income Tax and National Insurance contributions</li>
	</ul>
	<p><strong>What we offer:</strong></p>
	<ul type="disc">
	<li>personal driver at all times</li>
	<li>pick up from and drop off service to your home</li>
	<li>full security, your security is paramount</li>
	<li>client vetting/blacklisting policy</li>
	<li>excellent earnings</li>
	<li>flexible hours</li>
	<li>friendly team environment and supportive management</li>
	<li>no joining fee</li>
	</ul>
	<p>Please call us to arrange an interview.</p>
	<p>Alternatively, you can email us at <a href="mailto:contact@pearlsgirlsescorts.com" target="_blank">contact@pearlsgirlsescorts.<wbr />com</a></p>
	<p>&nbsp;</p>
	<h1>Becoming a Chauffeur</h1>
	<p><strong>What we require:</strong></p>
	<ul type="disc">
	<li>male</li>
	<li>21+</li>
	<li>full UK driving licence</li>
	<li>reliable car with relevant fully comprehensive insurance</li>
	<li>satellite navigation system</li>
	<li>good English</li>
	<li>reliable</li>
	<li>flexible</li>
	<li>any nationality</li>
	<li>eligible to work in the UK</li>
	<li>be aware and understand that you will be self-employed and responsible for paying your own Income Tax and National Insurance contributions</li>
	</ul>
	<p><strong>What we offer:</strong></p>
	<ul type="disc">
	<li>excellent earnings</li>
	<li>flexible hours</li>
	<li>friendly team environment</li>
	<li>supportive management</li>
	</ul>
	<p>Please call us to arrange an interview. Alternatively you can email us at<br /><a href="mailto:contact@pearlsgirlsescorts.com" target="_blank">contact@pearlsgirlsescorts.com</a></p>

</div>