<div class="whole">
	<h1>Bedfordshire Escorts</h1>

	<p>Escorts in Bedfordshire.</p>

	<p>To view our escorts in Bedfordshire, please click <%= link_to "here", "/girls" %>.</p>

	<p>Set in quiet unspoiled countryside, Bedfordshire is one of the wealthiest and most prestigious of the Home Counties. Only a half hour train journey from Central London or 40 minutes by car, Bedfordshire is an attractive place to live and visit.</p> 

	<p>Bedfordshire was historically divided into nine hundreds: Barford, Biggleswade, Clifton, Flitt, Manshead, Redbournestoke, Stodden, Willey, Wixamtree, along with the liberty and borough of Bedford. There have been several changes to the county boundary; for example, in 1897 Kensworth and part of Caddington were transferred from Hertfordshire to Bedfordshire.</p>

	<p>When visiting this historical home county, there is always something to do,  a few of the daily attractions of Bedfordshire – home to the two-yearly Bedford River Festival, the vibrant Luton Carnival, the traditional Bedfordshire Country Show, the quirky Woburn Oyster Festival and the renowned Twinwood Festival.</p>

	<p>On the flip side, why not check out some of the buzzing nightlife in Bedfordshire and book one of Pearls Girls to make your night extra special. There are some great places to take one of our Pearls Girls including the Grosvenor G Casino in Luton, the Oxygen Club or the Esquires Club, both of which are in Bedford.</p>

	<p>We can cater for all your needs whilst visiting and with Bedfordshire being the home to one of the capital's busiest airports, London Luton, Pearls Girls offer specially tailored packages direct from the airport. To give you an idea, we can have one of our beautiful girls meet you at the arrivals lounge and take you straight to your chauffeur driven car and then on to your choice of hotel. We can also offer day trip packages to some of Bedfordshire’s great attractions including Woburn Safari Park, Whipsnade ZSL Zoo in Dunstable or a Spa day at Champneys in Henlow.</p>

	<p>If none of those take your fancy and you fancy a spot of golf, or just some afternoon tea on the veranda, we can arrange a great day for you at the world renown Luton Hoo Hotel. To give you an idea of the famous names associated with Luton Hoo, down the centuries include Capability Brown, Faberge, Winston Churchill, our present Queen and the Duke of Edinburgh, as well as Hollywood royalty including Steven Spielberg. Rooms vary on price, but don’t hesitate to give us a call and we can arrange for one of our own Pearls Girls to meet you there.</p>
</div>