<div class="whole">
	<h1>Berkshire Escorts</h1>

	<p>Escorts in Berkshire</p>

	<p>To view what escorts in Berkshire are available please click <%= link_to "here", "/girls" %>.</p>

	<p>Know as the Royal County of Berkshire because of the presence of Windsor Castle, Berkshire is a major attraction to thousands of visitors everyday. Berkshire is the only one of the Home Counties to have the Royal seal and so many of the best restaurants can be found in Berkshire. A handful of these are the famous 3 by Heston Blumenthal including The Fat Duck, Hind Heads at Bray and The Crown. When booking one of Pearls Girls, why not treat yourself to one of the award winning restaurants and then hit the town after? Some of the best clubs can be found in Berkshire and with the major town of Reading nearby, you will be spoilt for choice.</p>

	<p>If dining isn’t your fancy and you want to take a Pearls girl to the Reading Festival, one of the biggest music festivals in Britain. Some of the acts that have been there include Eminem, Foo Fighters and Kasabian to name a few. Pearls Girls can arrange a day or weekend pass for you and for one of our gorgeous escorts to meet you there, before or even after.</p>

	<p>In Berkshire around June time, the world famous Ascot Race is held. Is a famous English racecourse, located in the small town of Ascot, Berkshire, used for thoroughbred horse racing. It is one of the leading racecourses in the United Kingdom, hosting 9 of the UK's 32 annual Group 1 races. The course is closely associated with the British Royal Family, being approximately six miles from Windsor Castle.</p>

	<p>Ascot today stages twenty-six days of Flat racing over the course of the year, comprising eighteen Flat meetings held between the months of May and October inclusive. It also stages important jump racing throughout the winter months. The Royal Meeting, held in June, remains a major draw, the highlight being the Gold Cup. The most prestigious race is the King George VI and Queen Elizabeth Stakes run over the course in July. Pearls Girls can arrange a Royal Box ticket or standard entry for you and for one of our escorts to meet you with a chauffeur and take you directly to the race. Remember if you want to rub shoulders with the Royal family, then you better be prepared and arrive in style.</p>

	<p>Once you have had your day jam packed with activities, why not take a Pearls Girl back to one of the top hotels in the country all of which are based in Berkshire. Theres Coworth Park in Ascot, a beautiful Georgian country house estate. The Macdonald Windsor Hotel, just a stones throw away from Windsor Castle or The Forbury Hotel in Reading. The Forbury is great for when you and your Pearls Girl Escort are out in the town of Reading. It was described as the “sexiest townhouse hotel” by the evening standard, not one to be missed!</p>
</div>