<div class="whole">
	<h1>Buckinghamshire Escorts</h1>

	<p>To see which girls we currently have available in Buckinghamshire please click <%= link_to "here", "/girls" %>.</p>

	<p>Buckinghamshire offers stunning countryside, including the Chilterns Natural Beauty and the River Thames; from brilliant B&BS to luxury hotels; fabulous food and shopping; a wealth of historic houses and outstanding gardens; exciting activities, events and attractions.</p>

	<p>Easily accessible from London and the South East, Buckinghamshire is the perfect day out and short break destination.</p>

	<p>Enjoy some companionship with one of our delightful Buckinghamshire Playgirls! These absolute beauties provide top personal service simply make the call and the girl of your dreams will be with you at your chosen destination in a blink of an eye.</p>

	<p>Did you know the £2.6 million Great Train Robbery of 1963 happened at Bridego Railway Bridge in Ledburn? (a hamlet in the parish of Mentmore).</p>

	<p>There are plenty of Adult activities for the adrenaline junkies; Silverstone circuit, Longridge water Activity Centre, tree top adventure at Go Ape! Ski or skydive at Xscape.</p>

	<p>Have a spa day to really relax and unwind, making the most of your pleasurable time with one of our ladies at the Danesfield House Hotel in Marlow.</p>

	<p>Buckinghamshire has an array of finest theatres. For outstanding comedy, opera, drama and music visit Aylesbury’s Waterside Theatre or the Wycombe Swan. For more intimate shows, the Limelight Theatre is the perfect place.</p>

	<p>Did you know… that Roald Dahl wrote his fascinating tales in this county? Not that surprising when you take in the picturesque views, here you can really let your imagination run wild!</p>

	<p>For more details on the areas that Playgirls cover within Buckinghamshire, Please click below</p>
</div>