<div class="whole">
	<h1>Kent Escorts</h1>

	<p>Click <%= link_to "here", "/girls" %> to see the gorgeous Escorts in Kent.</p>

	<p>Kent is Located in the South East England and one the countries home counties. Kent is home to the channel tunnel which is located in Folkestone, Dover which opened 6th May 1994. The Tunnels High Speed train can have you and your vehicle in Calais, France in 30 minutes. Kent has also been the front line of many conflicts, most notably the Battle of Britain during World War II. The Spitfire & Hurricane Memorial located in Manston. The museum is an excellent place to familiarise yourself with Kent’s RAF History, expand your mind with the beauty Kent Escort.</p>

	<p>Dover is the narrowest part of the English Channel, France can been seen from Dover. The famous White Cliffs of Dover are also in Kent. We would highly recommend visiting Dover Castle, which is the longest reported history of castles in the United Kingdom. Why not take a stroll along Kent’s breathtaking coastline coupled with the gorgeous sites of a Kent Escort.</p>

	<p>Kent is well renowned for its romantic hotels, if you require any advice on where these hidden gems can be found, please feel free to ask our friendly reception staff who will be more than happy to suggest hotel for you and your Kent Escort. These Hotels can be found in Canterbury, Sevenoaks, Greys, Chatham and Gillingham.</p>

	<p>Chatham, we recommend the Canterbury Cathedral Lodge for a Canterbury Escort.</p>

	<p>Ashford, we recommend the Eastwell Manor for a Sevenoak Escort.</p>
</div>