/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 body {
 	background-color: #dc91e8;
 	padding: 0;
	/*font-family: 'Titillium Web', sans-serif;*/
	font-family: 'Open Sans', sans-serif;
	/*font-family:"lucida grande",tahoma,verdana,arial,sans-serif;*/
 }

 p {
 	font-family: Helvetica, Arial, sans-serif;
 	font-size: 15px;
 	line-height: 1.5;
 }

 a {
     -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -kthtml-transition: all 0.2s linear;
 }

 ul {
 	list-style-type: disc;
 }

 li {
 	margin: 10px 0;
 }

 .header {
 	width: 950px;
 	margin: 0px auto;
 	border-top-right-radius: 6px;
 	border-top-left-radius: 6px;
 	display: block;
 }

 .header a {
 	color: #ffffff;
 	text-decoration: none;
 }

 .footer {
 	width: 870px;
 	margin: 0px auto;
 	border-bottom-right-radius: 6px;
 	border-bottom-left-radius: 6px;
 	display: block;
 	background-color: #000000;
 	height: 80px;
 	color: #ffffff;
 	padding: 40px;
 }

 .footer a {
 	color: #ffffff;
 	text-decoration: none;
 }

 .headerTop {
 	height: 140px;
 	width: 100%;
 	background-color: #ffffff;
  	border-top-right-radius: 6px;
 	border-top-left-radius: 6px;
 	text-align: center; 
 	position: relative;
 }

 .headerPhone {
 	height: 120px;
 	display: block;
 	margin: 10px 0;
 	position: absolute;
 	right: 312px;
 }

 .headerNumber {
 	float: right;
	background: #45484d; /* Old browsers */
	background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
 	font-size: 40px;
 	padding: 10px;
 	color: #ffffff;
 	top: 30px;
 	right: 30px;
 	position: absolute;
 }

 .headerLogo {
 	height: 110px;
 	display: block;
 	margin: 15px 0;
 	position: absolute;
 	left: 55px;
 }

 .headerLogoGirl {
 	height: 110px;
 	display: block;
 	margin: 15px 0;
 	position: absolute;
 	left: 215px;
 }

 .headerBottom {
  	width: 95%;
  	display: block;
    padding: 15px 0 15px 5%;
 	background-color: #000000;
 }

 .headerBottom a {
 	margin-right: 25px;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -kthtml-transition: all 0.2s linear;
 }

 .headerBottom a:hover {
 	color: #dc91e8;
 }

  .headerCall {
  	border-top: 1px solid #ffffff;
  	width: 90%;
  	display: block;
    padding: 7px 5%;
 	background-color: #a527ba;
 	font-size: 17px;
 	font-weight: bold;
 	color: #ffffff;
 }

 .headerCall a {
 	margin-left: 20px;
 }

 .content {
 	background-color: #ffffff;
 	width: 950px;
 	margin: 0px auto;
 	min-height: 100%;
  	border-top-right-radius: 6px;
 	border-top-left-radius: 6px;
 }

 h3 {
 	margin: 10px 0;
 }

 .contentMain {
 	padding: 10px;
  	min-height: 100%;
 	overflow-y: hidden;
 }

 .contentInner {
 	padding: 0 35px;
 	clear: both;
 	min-height: 100%;
 	overflow-y: hidden;
 	font-size: 14px;
 	position: relative;
 }

 .contentInner a {
 	color: #dc91e8;
 }

 .contentInner a:hover {
 	color: #c852db;
 }

 .homepageContentTop {
 	margin-right: 110px;
 }

 .field {
 	margin: 20px 0;
 }

 .leftContactBox {
  	width: 15%;
 	height: 300px;
 	display: inline-block;
  	float: left;
  	margin-top: 12px;
  	margin-right: 15px;
 }

 .leftContactBox h4 {
  	margin: 0;
  	margin-bottom: 15px;
 }

 .leftSection {
 	width: 15%;
 	height: 300px;
 	display: inline-block;
  	padding: 6px 2%;
  	float: left;
  	margin-top: 18px;
  	margin-right: 15px;
  	border-radius: 6px;
  	background-color: #ffffff;
 }

 .leftSection a {
 	color: #000000;
 	text-decoration: none;
     -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -kthtml-transition: all 0.2s linear;
 }

 .leftSection a:visited {
 	color: #000000;
 }

 .leftSection a:hover {
 	color: #dc91e8;
 }

 .leftSection h3 {
 	margin: 0 0 20px 0;
 	color: #000000;
 }

 .rightSection {
 	background-color: #ffffff;
 	width: 78%;
 	display: inline-block;
 	padding: 1.5% 0;
 	min-height: 450px;
 	right: 0;
 	position: relative;
 	display: inline-block;
 	float: right;
 }

 .rightSection img {
  	display: inline-block;
 	margin: 10px 0px;
 	border-radius: 5px;
 	border: 2px solid #dedede;
 }

 .girlPromoBox {
 	height: 450px;
 	width: 220px;
 	background-color: #ffffff;
 	display: inline-block;
 	margin: 3px;
 	border: 1px solid #dedede;
 	border-radius: 10px;
 	overflow: hidden;
 	position: relative;
 	float: left;
 }

 .girlPromoBox img {
 	max-height: 300px;
 	max-width: 200px;
  	display: inline-block;
 	margin: 10px 8px;
 	border-radius: 5px;
 	border: 2px solid #dedede;
 }

 .girlName {
 	background-color: #000000;
 	text-align: center;
 	padding: 8px 0;
 	font-size: 17px;
 	color: #ffffff;
 }

 .girlPromoBottom {
 	height: 70px;
 	bottom: 0;
 	width: 100%;
 	position: absolute;
 	padding: 5%;
 }

 .girlPromoBottomCategory {
 	height: 100%;
 	width: 50%;
 	float: left;
 	line-height: 30px;
 }

 .girlPromoBottomValue {
 	height: 100%;
 	width: 50%;
 	float: right;
  	line-height: 30px;
 }

 .girlShowBox {
	border-radius: 10px;
	overflow: hidden;
 	height: 305px;
 	width: 100%;
 	position: relative;
 	background-color: #000000;
 }

 .showPageContent {
 	padding-top: 15px;
 	margin-top: 30px;
 	border-top: 2px solid #dedede;
 }

 .girlShowBox img {
 	margin: 0;
 	border: none;
 	border-radius: 0px;
 	width: 200px;
 	float: left;
 	height: 305px;
 	z-index: 100;
 }

 .showBoxTitle {
 	width: 441px;
 	background-color: #dc91e8;
 	right: 0;
 	position: absolute;
 	color: #ffffff;
 	padding: 10px;
 	padding-left: 20px;
 	font-size: 17px;
 }

 .showBoxDesc {
 	color: #ffffff;
 	height: 300px;
 	width: 200px;
 	margin-top: 60px;
 	margin-left: 20px;
 	display: inline-block;
 	font-size: 12.5px;
 	float: left;
 }

 .showBoxInfo {
 	color: #ffffff;
 	height: 300px;
 	width: 200px;
 	margin-left: 20px;
 	display: inline-block;
 }

 .showBoxInfoLeft {
 	width: 40%;
 	height: 180px;
 	margin-top: 53px;
 	font-size: 14px;
 	line-height: 38px;
 	display: inline-block;
 }

 .showBoxInfoRight {
 	width: 40%;
 	height: 180px;
 	margin-top: 53px;
 	font-size: 14px;
 	line-height: 38px;
 	display: inline-block;
 }

 .showBoxInfoButton {
 	margin-top: 15px;
 	width: 83%;
 	height: 30px;
 }

.bookButton {
	background-color:#c579ff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:18px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #8628ce;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -kthtml-transition: all 0.2s linear;
}.bookButton:hover {
	background-color:#841f94;
}.bookButton:active {
	position:relative;
	top:1px;
}
.headerButton {
	padding: 5px 11px;
}

.bookBox {
	width: 165px;
	height: 105px;
	background-color: #000000;
	border-radius: 10px;
	overflow: hidden;
}

.bookBoxTitle {
	color: #ffffff;
	background-color: #dc91e8;
	padding: 10px;
}

.bookBoxContent {
	color: #ffffff;
	padding: 10px;
	font-size: 13px;
	margin-top: 10px;
}

.bookBoxContentLeft {
	width: 30px;
 	display: inline-block;
}

.bookBoxContentRight {
	width: 105px;
 	display: inline-block;
 	float: right;
 	font-size: 14.5px;
 	margin-top: 3px;
}

.ratesBox {
	width: 195px;
	height: 230px;
	background-color: #000000;
	float: right;
	margin-top: 15px;
	border-radius: 10px;
	overflow: hidden;
}

.ratesBoxTitle {
	color: #ffffff;
	background-color: #dc91e8;
	padding: 10px;
}

.ratesBoxContent {
	color: #ffffff;
	padding: 10px;
	font-size: 13px;
	margin-top: 10px;
}

 .ratesBoxInfoLeft {
 	width: 70%;
 	font-size: 13px;
 	display: inline-block;
 	margin-top: 20px;
 }

 .ratesBoxInfoRight {
 	width: 20%;
 	font-size: 13px;
 	display: inline-block;
 	float: right;
 	margin-top: 20px;
 }

 .showPageMain {
 	width: 69%;
 	display: inline-block;
 	margin-top: 7px;
 	padding: 0;
 }

 .showPageMain img {
 	max-width: 440px;
 	max-height: 450px;
 }

 .pageLeft {
 	width: 70%;
 	display: inline-block;
 	float: left;
 }

 .pageRight {
 	width: 30%;
 	display: inline-block;
 	float: right;
 }

 .whole {
 	padding: 15px 40px;
 	font-size: 14.5px;
 }

 .homepageSilhouette {
 	position: absolute;
 	right: 30px;
 	top: 30px;
 }

 .disclaimerContent p {
 	font-size: 12px;
 }

 .disclaimerContent {
 	margin-top: 40px;
 }

 .footerLinks {
 	text-align: center;
 }

 .footerLogoLink a {
 	font-size: 11px;
 }

 .footerLogoLink {
 	display: inline-block;
 	margin: 0 5px;
 }

 .footerLogoLink img {
 	max-width: 80px;
 }